{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="container mb-1">
        <a href="{{ path('app_shop') }}" id="back" class="text-decoration-none mb-3 d-inline-block">&lt; Retour</a>
    </div>


    <div class="container">
        <div class="row gy-4">
            <!-- Product details -->
            <div class="col-lg-5">
                <h1 class="fw-bold">{{ product.name }}</h1>

                <!-- Price -->
                <div class="p-3 mb-4 rounded" style="background-color: #f8f9fa; max-width: 150px;">
                    <p class="h6 text-muted mb-1">Prix</p>
                    <p class="fs-2 fw-bold mb-0" style="color: #222;">{{ product.price }} €</p>
                </div>

                <div class="accordion mb-3" id="productOverview">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOverview">
                            <button class="accordion-button" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseOverview"
                                    aria-expanded="true"
                                    aria-controls="collapseOverview">
                                Description du produit
                            </button>
                        </h2>
                        <div id="collapseOverview" class="accordion-collapse collapse show"
                             aria-labelledby="headingOverview"
                             data-bs-parent="#productOverview">
                            <div class="accordion-body small text-muted">
                                {{ product.description|nl2br }}
                            </div>
                        </div>
                    </div>

                    <!-- Return -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingReturnPolicy">
                            <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseReturnPolicy"
                                    aria-expanded="false"
                                    aria-controls="collapseReturnPolicy">
                                Politique de retour et échange
                            </button>
                        </h2>
                        <div id="collapseReturnPolicy" class="accordion-collapse collapse"
                             aria-labelledby="headingReturnPolicy"
                             data-bs-parent="#productOverview">
                            <div class="accordion-body small text-muted">
                                <p>Vous pouvez retourner le produit sous 14 jours suivant sa réception, dans son état
                                    d'origine et avec l’emballage intact.</p>
                                <p>Les frais de retour sont à la charge du client sauf en cas de produit défectueux ou
                                    erreur de notre part.</p>
                                <p>Pour tout échange ou problème, contactez notre service client à <a
                                            href="mailto:support@example.com">support@example.com</a>.</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="d-flex gap-2">
                    <a href="{{ path('app_cart_add', {id: product.id}) }}" class="btn btn-dark flex-grow-1"
                       aria-label="Ajouter au panier">Ajouter au
                        panier</a>
                    {% if isFavorite %}
                        <a href="{{ path('app_favorite_delete_by_product', {id: product.id }) }}" class="btn btn-danger bi bi-heart"
                           aria-label="Retirer le produit des favoris">
                        </a>
                    {% else %}
                        <a href="{{ path('app_favorite_add', {id: product.id }) }}" class="btn btn-outline-dark bi bi-heart"
                           aria-label="Mettre en favoris le produit">
                        </a>
                    {% endif %}
                </div>
            </div>

            <!-- Image column -->
            <div class="col-lg-7">
                <img src="{{ asset('/images/yoga.jpg') }}" alt="{{ product.name }}"
                     class="img-fluid rounded mx-auto d-block">
            </div>
        </div>
    </div>
{% endblock %}

