{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>Image</th>
        </tr>  
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
            <td>
                {% if product.categories is not empty %}
                    {% for category in product.categories %}
                        {{ category.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    No categories
                {% endif %}
            </td>
            <td>
                {% if product.image %}
                    <img src="{{ asset('uploads/images/' ~ product.image) }}" alt="{{ product.name }}" style="width:100px; height:auto;">
                {% else %}
                    No image
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody> 
</table>


{% endblock %}
