{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container mt-5 w-25">
        <h1 class="mt-10 text-center text-2xl font-bold leading-9">Connexion</h1>
        {% for success in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ success }}
            </div>
        {% endfor %}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3 text-center">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se
                    déconnecter</a>
            </div>
        {% endif %}

        <form method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username"
                       class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                       autocomplete="email" placeholder="Adresse email" required autofocus>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" name="_password" id="password"
                       class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                       autocomplete="current-password" placeholder="Mot de passe" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {# Uncomment this section to add a remember me option
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="_remember_me" name="_remember_me">
                            <label class="form-check-label" for="_remember_me">Se souvenir de moi</label>
                        </div>
            #}

            <div class="d-grid">
                <button class="btn btn-dark mt-4" type="submit">
                    Se connecter
                </button>
            </div>
        </form>
    </div>
{% endblock %}