{% extends 'base.html.twig' %}

{% block title %}Boutique!{% endblock %}

{% block full_width_content %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Boutique</h1>
        <p class="fs-5 text-body-secondary">Retrouvez tous nos produits et services bien-être sur notre boutique
            en ligne. </p>
    </div>
    <turbo-frame id="products">
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    {% for product in products %}
                        <div class="col">
                            <div class="card shadow-sm">

                                <img src="{{ asset(product.image) }}" alt="femme qui fait du yoga">
                                <div class="card-body">
                                    <h3>{{ product.name }}</h3>
                                    <p>Catégorie: {{ product.category }}</p>
                                    <p class="card-text">{{ product.description|length > 80 ? product.description|slice(0, 80) ~ "..." : product.description }}</p>
                                    <div>
                                        <p>Prix: {{ product.price }}</p>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary" data-turbo="false"><a
                                                        href="{{ path('app_product_id', {id: product.id}) }}">Voir</a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="container mt-5">
                <div class="w-100 d-flex justify-content-end">
                    <div class="d-flex align-items-center" id="products">
                        {{ pagerfanta(products, 'twitter_bootstrap4', {
                            prev_message: 'Précédent',
                            next_message: 'Suivant'
                        }) }}
                    </div>
                </div>
            </div>
        </div>

    </turbo-frame>

{% endblock %}
